variable "aws_access_key" {
}

variable "aws_secret_key" {
}

variable "aws_vpc_cidr" {
}

variable "aws_orchestrator_subnet_cidr" {
}

variable "aws_workload_subnet_cidr" {
}

variable "aws_processor_subnet_cidr" {
}

variable "aws_orch_instance_type" {
}

variable "aws_orch_instance_disk_size" {
}

variable "aws_orch_prefix" {
}

variable "aws_orch_suffix" {
}

variable "aws_orch_description" {
}

variable "aws_orch_ansible_groups" {
  type = "list"
}

variable "aws_proc_instance_type" {
}

variable "aws_proc_instance_disk_size" {
}

variable "aws_proc_ansible_groups" {
  type = "list"
}

variable "aws_proc_description" {
}

variable "aws_wkld_instance_type" {
}

variable "aws_wkld_instance_disk_size" {
}

variable "aws_wkld_ansible_groups" {
  type = "list"
}

variable "aws_wkld_description" {
}
