variable "azr_subscription_id" {
}

variable "azr_client_id" {
}

variable "azr_client_secret" {
}

variable "azr_tennant_id" {
}

variable "azr_resource_group_name" {
}

variable "azr_vpc_cidr" {
}

variable "azr_orchestrator_subnet_cidr" {
}

variable "azr_workload_subnet_cidr" {
}

variable "azr_processor_subnet_cidr" {
}

variable "azr_image_publisher" {
}

variable "azr_orch_instance_type" {
}

variable "azr_orch_instance_disk_size" {
}

variable "azr_orch_instance_disk_type" {
}

variable "azr_orch_accelerated_networking" {
}

variable "azr_orch_description" {
}

variable "azr_orch_ansible_groups" {
  type = "list"
}

variable "azr_wkld_instance_type" {
}

variable "azr_wkld_instance_disk_size" {
}

variable "azr_wkld_instance_disk_type" {
}

variable "azr_wkld_accelerated_networking" {
}

variable "azr_wkld_ansible_groups" {
  type = "list"
}

variable "azr_wkld_description" {
}

variable "azr_proc_instance_type" {
}

variable "azr_proc_instance_disk_size" {
}

variable "azr_proc_instance_disk_type" {
}

variable "azr_proc_accelerated_networking" {
}

variable "azr_proc_ansible_groups" {
  type = "list"
}

variable "azr_proc_description" {
}
