variable "environment" {
}

variable "key_file" {
}

variable "key_name" {
}

variable "ssh_user" {
}

variable "dns_managed_zone_domain" {
}

variable "production" {
}

variable "bastion_ip" {
}

variable "image_tag" {
}

variable "image_version" {
}
