variable "gcp_credentials" {
}

variable "gcp_project_name" {
}

variable "gcp_orchestrator_subnet_cidr" {
}

variable "gcp_workload_subnet_cidr" {
}

variable "gcp_processor_subnet_cidr" {
}

variable "gcp_orch_instance_type" {
}

variable "gcp_orch_instance_disk_size" {
}

variable "gcp_orch_description" {
}

variable "gcp_orch_ansible_groups" {
  type = "list"
}

variable "gcp_proc_instance_type" {
}

variable "gcp_proc_instance_disk_size" {
}

variable "gcp_proc_description" {
}

variable "gcp_wkld_instance_type" {
}

variable "gcp_wkld_instance_disk_size" {
}

variable "gcp_wkld_description" {
}

variable "gcp_proc_ansible_groups" {
  type = "list"
}

variable "gcp_wkld_ansible_groups" {
  type = "list"
}
