{% if fabric in state['fabric'] %}
{% for vpc_key, vpc_val in state['fabric'][fabric]['vpc'].items() %}
{% if 'azr' in vpc_val['cloud'] %}
// VPC: {{ vpc_key }}
variable "azr_vpc{{ vpc_val['index'] }}_location" {
}
variable "azr_vpc{{ vpc_val['index'] }}_enable" {
}
variable "azr_vpc{{ vpc_val['index'] }}_network_enable" {
}
variable "azr_vpc{{ vpc_val['index'] }}_orchestrator_subnet_enable" {
}
variable "azr_vpc{{ vpc_val['index'] }}_workload_subnet_enable" {
}
variable "azr_vpc{{ vpc_val['index'] }}_processor_subnet_enable" {
}
variable "azr_vpc{{ vpc_val['index'] }}_subnet_name" {
}
variable "azr_vpc{{ vpc_val['index'] }}_orchestrator_subnet_id" {
}
variable "azr_vpc{{ vpc_val['index'] }}_workload_subnet_id" {
}
variable "azr_vpc{{ vpc_val['index'] }}_processor_subnet_id" {
}

{% endif %}
{% endfor %}
{% endif %}
